{% extends 'admin-base.html' %}

{% block title %}
{{ bookk.book_name }}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ bookk.book_name }}</h1>
        <p>Автор книги: {{bookk.author_name}}</p>
        <div class="alert alert-info">
            Отзыв о книге:
            <p>{{ bookk.text }}</p>

            <p></p>
           <a href="/admin/post-detail/{{ bookk.id }}/update" type="submit" class="btn btn-success" >Редактировать</a>
            <a href="/admin/post-detail/{{ bookk.id }}/del" type="submit" class="btn btn-danger" >Удалить</a>
        </div>
    </div>
{% endblock %}