{% extends 'base.html' %}

{% block title %}
Все посты
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все посты</h1>
    <a class="btn btn-info" href="/home">Сначала новые ⇅</a>
    <a class="btn btn-info" href="/home_old">Сначала старые ⇅</a>
    <p></p>
        {% for book in book %}
    <div class="alert alert-info">
        <h2>{{ book.book_name }}</h2>
        <a href="/posts/{{ book.id }}" class="btn btn-warning">Детальнее</a>
    </div>
    {% endfor %}
</div>
{% endblock %}