{% extends 'admin-base.html' %}

{% block title %}
Все посты
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все посты</h1>
    <a class="btn btn-info" href="/admin/home">В алфавитном порядке ⇅</a>
    <a class="btn btn-info" href="/admin/home_rev">В обратном порядке ⇅</a>
    <p></p>
        {% for book in book %}
    <div class="alert alert-info">
        <h1>{{ book.book_name }}</h1>
        <h3>{{ book.author_name }}</h3>
        <h4>Оценка книги: {{ book.comment_rate }}</h4>
        <p></p>
        <a href="/home/detail/{{ book.id }}" class="btn btn-warning">Детальнее</a>
    </div>
    {% endfor %}
</div>
{% endblock %}